# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data / logs / results
data/**/*.csv
data/**/*.npz
results/
logs/

# IDE / Editor configs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/
